{
    "degree": 18,
    "num_flex_advice": 10,
    "num_range_lookup_advice": 1,
    "num_flex_fixed": 1,
    "range_lookup_bits": 17,
    "sha256_config": {
        "num_bits_lookup": 16,
        "num_advice_columns": 1
    },
    "sign_verify_config": {
        "public_key_bits": 4096   
    },
    "payload_config": {
        "allstr_filepathes": [
           "./test_data/commit_payload_allstr.txt"
        ],
        "substr_filepathes": [
            [
                "./test_data/commit_payload_substr_0.txt",
                "./test_data/commit_payload_substr_1.txt",
                "./test_data/commit_payload_substr_2.txt",
                "./test_data/commit_payload_substr_3.txt"
            ]
        ],
        "max_variable_byte_size": 2048,
        "skip_prefix_bytes_size": 0,
        "substr_regexes": [
            [
                "Transfer (0|1|2|3|4|5|6|7|8|9|\\.)+ ",
                "(0|1|2|3|4|5|6|7|8|9|\\.)+"
            ],
            [
                " (ETH|DAI) to ",
                "(ETH|DAI)"
            ],
            [
            " to (a|b|c|d|e|f|g|h|i|j|k|l|m|n|o|p|q|r|s|t|u|v|w|x|y|z|A|B|C|D|E|F|G|H|I|J|K|L|M|N|O|P|Q|R|S|T|U|V|W|X|Y|Z|0|1|2|3|4|5|6|7|8|9|_|\\.|-)+@(a|b|c|d|e|f|g|h|i|j|k|l|m|n|o|p|q|r|s|t|u|v|w|x|y|z|A|B|C|D|E|F|G|H|I|J|K|L|M|N|O|P|Q|R|S|T|U|V|W|X|Y|Z|0|1|2|3|4|5|6|7|8|9|_|\\.|-)+",
            "(a|b|c|d|e|f|g|h|i|j|k|l|m|n|o|p|q|r|s|t|u|v|w|x|y|z|A|B|C|D|E|F|G|H|I|J|K|L|M|N|O|P|Q|R|S|T|U|V|W|X|Y|Z|0|1|2|3|4|5|6|7|8|9|_|\\.|-)+@(a|b|c|d|e|f|g|h|i|j|k|l|m|n|o|p|q|r|s|t|u|v|w|x|y|z|A|B|C|D|E|F|G|H|I|J|K|L|M|N|O|P|Q|R|S|T|U|V|W|X|Y|Z|0|1|2|3|4|5|6|7|8|9|_|\\.|-)+"
            ]
        ],
        "expose_substrs": true
    }
}
